---
import DocsLayout from "../../layouts/DocsLayout.astro";
---
<DocsLayout title="HLD Round Rubric" section="Rubrics" description="System design scoring rubric">
  <p>See the full scorecard on the <a href="/tech-interview-os/rounds/hld">HLD Round</a> page.</p>
</DocsLayout>
